.embla {
  position: relative;
  background: transparent;
  padding: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;

  /* TODO:Angie este lo tienes que cambiar si quieres modificar espacio de carrousel paso 1 */
  min-width: 444px;
  /* TODO:Angie este lo tienes que cambiar si quieres modificar espacio entre carrouseles */
  padding-left: 20px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  /* TODO:Angie este lo tienes que cambiar si quieres modificar espacio de carrouseles paso 2*/
  width: 444px;
  height: 370px;
}

/* Tia Angie esto es lo unico que cambia */
.carousel__img__container{
  width: 100%;
  height: 100%;
  position: relative;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

.embla__slide__img_text{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 300px;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
  font-family: var(--Font-Family-Text);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.embla__slide__img_text:hover{
  opacity: 0.9;
}

/* TODO:Angie este es el texto dentro de los carrouseles Titulo*/

.embla__slide__img_text .embla__slide__img_text_span1{
  font-size: 36px;
  font-weight: bold;
  margin-top: 30px;

}

/* TODO:Angie este es el texto dentro de los carrouseles Subtitulo*/
.embla__slide__img_text .embla__slide__img_text_subtitle{
  font-size: 20px;
  margin-top: -15px;
}

/* TODO:Angie este es el texto dentro de los carrouseles Texto */
.embla__slide__img_text .embla__slide__img_text_span2{
  font-size: 23px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 60px;
}


.embla__slide__img_text p{
  font-size: 16px;
}

.embla__slide__img_text p, span{
  display: inline-block;
  margin: 0 50px;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

#embla__button__prev {
  left: 27px;
}

#embla__button__next {
  right: 27px;
}


@media (max-width: 768px) {
  .embla{
    max-width: 100%;
  }
  .embla__slide {
    position: relative;
    min-width: 100%;
    padding-left: 0;
  }
  
  .embla__slide__inner {
    height: 350px;
    width: 420px;
  }

  .embla__button{
    display: none;
  }
  .embla__slide__inner{
    width: 100%;
  }
}

  