@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    box-sizing: 0;
    padding: 0;
    margin: 0;

    
}